<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501358338452-erep5raipcf88ls5ukobfgji9bkuh3o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501358338452-erep5raipcf88ls5ukobfgji9bkuh3o4</string>
	<key>API_KEY</key>
	<string>AIzaSyCf6oeK5cB4wTzesSI-y7FTUL5dFXKjpQE</string>
	<key>GCM_SENDER_ID</key>
	<string>501358338452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>max-pav-love.MyStorage</string>
	<key>PROJECT_ID</key>
	<string>mystorage-38e80</string>
	<key>STORAGE_BUCKET</key>
	<string>mystorage-38e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501358338452:ios:9a318b8eca25665b716f81</string>
</dict>
</plist>